/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
:root {
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}

.html,body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(238, 235, 235) url('../images/pattern-curve.svg')no-repeat;
}


/* END OF GLOBAL STYLES */

/* MAIN CONTENT */
main {
    margin: 8rem 0;
    background: #fff;
    padding: 0 1rem;
    box-shadow: 0px 2px 1px 1px rgba(8, 8, 8, 0.425);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h2 {
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2rem;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote img{
    position: absolute;
    top: -2rem;
    left: 3rem;
}
.img-background {
    pointer-events: none;
}

.img-background img {
    width: 100%;
    height: 30rem;
    background-position: center;
}

.author-info {
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.author {
    font-size: 1.5rem;
    font-weight: 700;
}

.job {
    padding-left: 1rem;
    font-size: 1.4rem;
    color: var(--GrayishBlue);
}

.sub {
    background: rgb(255, 255, 255) url('../images/pattern-bg.svg') no-repeat center;
}

.img-container {
    margin: 2rem 0;
    position: relative;
}

.navigate-btns {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: -1rem;
    left: 2rem;
    background-color: rgb(227, 227, 233);
    width: 20%;
    height: 2.6rem;
    border-radius: 1.4rem;
    box-shadow: 0px 2px 1px 1px rgba(143, 133, 133, 0.527);
    outline: none;
}

.navigate-btns > div {
    padding: 1rem;
}

.prev-svg:hover {
    cursor: pointer;
    transform: translate(-.5rem);
    transition: all .5s linear;
}

.next-svg:hover {
    cursor: pointer;
    transform: translate(.5rem);
    transition: all .5s linear;
}

.testimonials {
    padding: 0 1rem;
}

.author-info {
    padding: 1rem 1rem;
}


@media screen and (max-width:840px) {
    main {
        padding: .6rem;
    }

    .content {
        text-align: center;
        align-items: center;
    }

    .container {
        flex-direction: column-reverse;
    }

    .img-container {
        margin-bottom: 3rem;
    }
    .author-info {
        flex-direction: column;
        text-align: center;
    }

    .job {
        padding: 0;
    }

    .navigate-btns {
        left: 6rem;
        width: 30%;
    }

    .navigate-btns > div {
        padding: 0 2rem;
    }

    
    .content h2 {
        padding: 1rem;
    }
    .attribution {
        text-align: center;
    }
}

@media screen and (max-width: 280px) {
    .navigate-btns {
        left: 5rem;
        width: 30%;
    }
}